{% extends "contacts/base.html" %}
{% load static %}
{% load compress %}


{% block stylesheets %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/table.css' %}"/>
{% endcompress %}
{% endblock %}

{% block content %}


<div class="header-h1 header-h1-center">
  <h1>Таблица филиалов организации</h1>
</div>

<div class="form-group">
  <button type="button" class="btn btn-success add-data-modal action" data="{{ branch.id }}" data-toggle="modal" data-target="#adddataModal" data-address="{{ branch.address }}" data-workinghours= "{{ branch.working_hours }}" data-metro="{{ branch.metro }}" data-phone="{{ branch.phone_number }}" data-holiday="{{ branch.holiday }}" data-coord="{{ branch.coordinates }}">Добавить новый филиал</button>
</div>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Адрес филиала</th>
            <th scope="col">Часы работы</th>
            <th scope="col">Метро</th>
            <th scope="col">Номера телефонов</th>
            <th scope="col">Отпуск</th>
            <th scope="col">Координаты</th>
        </tr>
    </thead>
    <tbody>
        {% for branch in branchs %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ branch.address }}</td>
            <td>{{ branch.working_hours }}</td>
            <td>{{ branch.metro }}</td>
            <td class="clickable get-data-modal action" data="{{ branch.id }}" data-toggle="modal" data-target="#mainModal" data-address="{{ branch.address }}" data-workinghours= "{{ branch.working_hours }}" data-metro="{{ branch.metro }}" data-phone="{{ branch.phone_number }}" data-holiday="{{ branch.holiday }}" data-coord="{{ branch.coordinates }}">{{ branch.phone_number }}</td>
            <td>
              {% if branch.holiday %}
                Да
              {% else %}
                Нет
              {% endif %}
            </td>
            <td>{{ branch.coordinates }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->


<div class="modal fade bd-example-modal-lg" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Данные филиала</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="info" action="{% url 'contacts:save_changes' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="address" class="col-form-label">Адрес</label>
              <textarea type="text" class="form-control" name="address" id="address"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="metro" class="col-form-label">Метро</label>
              <input type="text" class="form-control" name="metro" id="metro">
            </div>
            <div class="form-group col-md-5">
              <label for="workinghours" class="col-form-label">Часы работы</label>
              <textarea type="text" class="form-control" name="workinghours" id="workinghours"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="phone">Номера телефонов</label>
              <input type="text" class="form-control" name="phone" id="phone">
            </div>
            <div class="form-group col-md-3">
              <label for="holiday">Отпуск</label>
              <select name="holiday" id="holiday" class="form-control">
                {% if branch.holiday %}
                  <option selected>Да</option>
                  <option>Нет</option>
                {% else %}
                  <option>Да</option>
                  <option selected>Нет</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="coordinates" class="col-form-label">Координаты</label>
              <input type="text" class="form-control" name="coordinates" id="coordinates" aria-describedby="coordinatesHelpBlock">
              <small id="coordinatesHelpBlock" class="form-text text-muted">
                Координаты указаны в порядке [широта, долгота]. <a href="https://yandex.ru/map-constructor/location-tool/">Ресурс для определения координат.</a></small>
              </small>
            </div>
          </div>
          <input type="hidden" name="organizationid" id="organizationid">
          <div class="modal-footer">
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="save">Сохранить</button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-warning">Показать на карте</button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-secondary" id="orgdelete">Удалить</button>
            </div>    
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="adddataModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Данные филиала</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addinfo" action="{% url 'contacts:add_organization' %}" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="addaddress" class="col-form-label">Адрес</label>
              <textarea type="text" class="form-control" name="addaddress" id="addaddress"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="addmetro" class="col-form-label">Метро</label>
              <input type="text" class="form-control" name="addmetro" id="addmetro">
            </div>
            <div class="form-group col-md-5">
              <label for="addworkinghours" class="col-form-label">Часы работы</label>
              <textarea type="text" class="form-control" name="addworkinghours" id="addworkinghours"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="addphone">Номера телефонов</label>
              <input type="text" class="form-control" name="addphone" id="addphone">
            </div>
            <div class="form-group col-md-3">
              <label for="addholiday">Отпуск</label>
              <select name="addholiday" id="addholiday" class="form-control">
                  <option>Да</option>
                  <option>Нет</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-11">
              <label for="addcoordinates" class="col-form-label">Координаты</label>
              <input type="text" class="form-control" name="addcoordinates" id="addcoordinates" aria-describedby="coordinatesHelpBlock">
              <small id="coordinatesHelpBlock" class="form-text text-muted">
                Координаты указаны в порядке [широта, долгота]. <a href="https://yandex.ru/map-constructor/location-tool/">Ресурс для определения координат.</a></small>
              </small>
            </div>
          </div>
          <input type="hidden" name="organizationid" id="organizationid">
          <div class="modal-footer">
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="save">Сохранить</button>
            </div>
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}  
    {{ block.super }}
    {% compress js %}
    <script type="text/javascript" src="{% static 'contacts/js/table.js' %}"></script>

    {% endcompress %}
{% endblock %}

